@tailwind base;
@tailwind components;
@tailwind utilities;


@layer{
    /* .backdrop{
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
    } */
    .shape{
        /* clip-path: ellipse(31% 22% at 48% 1%); */
        /* clip-path: ellipse(31% 22% at 51% 100%); */
        clip-path: ellipse(36% 33% at 50% 100%);
    }

    .text-border{
        font-family: sans-serif;
        -webkit-text-stroke-width: 1.2px;
        -webkit-text-stroke-color: white;
      }
      .text-border-black{
        font-family: sans-serif;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: black;
      }
} 